# Основы Pandas

# Домашнее задание

## Easy

Изучите распределение размеров компаний (`company_size`) с помощью метода `.value_counts()`. Опишите своими словами, что вы увидели.

In [7]:
# Ваш код ниже:
import pandas as pd
df = pd.read_csv(r'C:\Users\Owner\domashka\ds_salaries_mod.csv')
df['company_size'].value_counts()

M    3153
L     454
S     148
Name: company_size, dtype: int64

Вывод: больше всего "средних" компаний

## Normal

Сделайте выборку за 2023 год. Постройте по ней сводную таблицу, сгруппированную по размеру компании-работодателя (`company_size`), со средней и медианной зарплатой в долларах. Не забывайте также указать количество.

In [34]:
# Ваш код ниже:
df_2023 = df[df['work_year'] == 2023]
df_2023.groupby('company_size')['salary_in_usd'].agg(['count', 'mean', 'median'])

              count           mean    median
company_size
L                71  138622.845070  126100.0
M              1275  151126.316078  145000.0
S                17   73632.647059   53654.0

Напишите краткий вывод из полученной таблицы: зп выше в компаниях М. У компаний S слишком маленькая выборка.

Аналогично исследуйте 2022 год. Есть ли отличия?

In [35]:
df_2022 = df[df['work_year'] == 2022]
df_2022.groupby('company_size')['salary_in_usd'].agg(['count', 'mean', 'median'])

              count           mean    median
company_size
L               143  120581.482517  120000.0
M              1096  137245.859489  135000.0
S                40   75092.325000   58000.0

Вывод: здесь похожая ситуация.

## Hard

Для начала попробуйте восстановить пропущенные значения `salary_in_usd`.

<details>
<summary>Подсказка (нажмите, чтобы посмотреть):</summary>
Один из способов:
    <ul><li>создайте дополнительный столбец с "курсом доллара" для каждого наблюдения;</li>
    <li>проверьте, менялся ли курс каждой валюты в течение года;</li>
    <li>по возможности примените этот курс для расчета пропущенного значения;</li>
    <li>если остались пропуски, которые нельзя заполнить, удалите их.</li></ul>    
</details>

Оставляйте комментарии в коде своего решения.

In [ ]:
# Ваш код:

Дополнительно: попробуйте свести данные в столбце `job_title` к 4 основным профессиям (Data Scientist, Data Analyst, Data Engineer, ML Engineer), где это возможно.

In [ ]:
# Ваш код:

Сделайте выборку за 2023 год. Постройте по ней сводную таблицу, сгруппированную по профессии (`job_title`), со средней и медианной зарплатой в долларах. Не забывайте также указать количество. (Если у вас не получилось привести в порядок столбец `job_title`, выведите только 4 самых распространенных профессии.)

In [ ]:
# Ваш код:

Теперь давайте получше категоризируем зарплаты. Изучите самостоятельно документацию к функциям pandas [cut](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html) и [qcut](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html). Используйте их, чтобы разбить зарплаты на три или больше категорий (например: `Low`, `Medium`, `High`) и запишите их в столбец `salary_range`.

Сделайте сводную таблицу по профессиям за 2023 год, где будут выведены:
- число работников в профессии;
- самая часто встречающаяся категория зарплаты.

<details>
<summary>Подсказка (нажмите, чтобы посмотреть):</summary>
<code>lambda x : pd.Series.mode(x)</code>
</details>

In [ ]:
# Ваш код:

Проверьте себя: совпадают ли категории с реальными цифрами?